@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import './variables';

@import "@webpixels/css/core/functions";
// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

// Webpixels' CSS
@import "@webpixels/css/base";
@import "@webpixels/css/forms";
@import "@webpixels/css/components";
@import "@webpixels/css/utilities";

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

body {
  background-color:  var(--x-body-bg);
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1056;
  #cdk-overlay-0 {
    position: absolute !important;
    left: 50%;
    bottom: 5%;
    background: #1a202c;
    border-radius: 5px;
    color: white;
    transform: translateX(-50%);
    font-weight: bold;
    overflow: hidden;
    .ng-trigger.ng-trigger-fadeIn.destroy-by-click {
      width: auto;
       > div {
        display: flex;
       }
    }
  }
}